// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
.bespoke-slide {
  background-color: lightblue;
    transition: all .8s ease;
    transform-origin: 50% 50% -400px;
}

.bespoke-inactive {
    opacity: 0;
}

.bespoke-before {
    transform: rotateY(-90deg);
}

.bespoke-after {
    transform: rotateY(90deg);
}

.bespoke-active #flyingsanta{
  animation: canvas 2.5s ease-out;
}

@keyframes canvas{
  0% {
    transform: scale(0, 0) rotate(322deg);
  }
  100% {
    transform: scale(1, 1) rotate(0deg);
  }
}
